.padding{
  padding: 0 10px;
}
.ul-padding{
  padding-right: 100px;
}
.customize{
  color: black;
  background-color: white;
}
.random{
  background-color: white;
}
.nothing{
  margin-top: 20px;
}
.logo{
  height: 50px;
  padding: 0;
  margin-left: 30px;
}
.color{
  color: white !important;
  letter-spacing: 0.12vw;
  font-weight: 500;
}
.color:hover{
color: black !important;
background-color: white !important;
border-radius: 5px;
}

.bg{
  background-color: white;
}
.top-spacing{
  padding: 0.2vw !important;
}
.padding1{
  color: white;
  padding-left: 1vw;
  font-family: 'Playfair Display SC', serif;
  letter-spacing: 0.01vw;
  word-spacing: 0.4vw;
}
}
.img-size{
  width:120px;
}
.col-padding{
  padding: 0;
  border: 4px #343a40 solid;
}

h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 4vw;
}
.margin{
  margin: 10% 10%;
}
.alignment{
  position: absolute;
  right:27vw;
  top: 9vw;

}
.logo-size{
  height: 20vw;
}
.logo-slogan{
  font-family: 'Covered By Your Grace', cursive;
  font-size: 2.5vw;
  position: absolute;
  right: 37.4vw;
  top: 30.8vw;
}
.logo-name{
  font-family: 'Bungee Inline', cursive;
  font-size: 3.4vw;
  position: absolute;
  right:35vw;
  top: 27vw;
}
.text{
  background-color: #F0FBFA;
  padding-top:80px;
  padding-left: 70px;
  padding-right: 100px;
}
.menu-item{
  width:100%;
}
.gallery-item{
  width: 100%;
}
.event-item{
  width: 100%;
}
footer{
  padding: 3% 15% 2%;
  text-align: center;
}
.social-icons{
  padding: 0.7vw;
}
.social-link-color{
  color:#343a40;
}
